@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500;700&family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    color: #2f2f2f;
}

/* headings and logo */

a {
    text-decoration: none;
}

h1 {
    font-family: Josefin Slab, Times, serif;
    letter-spacing: 2px;
    color: #2f2f2f;
}

.logo {
    font-size: 300%;
    margin-left: 15px;
}

/* navigation links */

header {
    display: flex;
    height: 75px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

h1 > i {
    color: #a2c4c9;
    align-self: flex-end;
    padding-left: 5px;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, .logo {
    height: 100%;
}

header ul {
    display: flex;
}

#menu li {
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #2f2f2f;
}

.active {
    border-bottom: 1px solid #2f2f2f;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.cover-text, .cover-text h2 {
    color: #ffffff;
}

.cover-text {
    font-size: 150%;
    font-family: Montserrat, Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;

    width: 300px;
    height: 300px;
    border-radius: 50%;

    padding-top: 40px;
    padding-left: 10px;

}

#about-cover-text {
    background-color: rgba(162, 196, 201, .8);

    top: 30px;
    right: 30px;

    position: absolute;
}

#scroll-cover-text {
    background-color: rgba(162, 196, 201, .8);

    bottom: 30px;
    left: 30px;

    position: absolute;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    overflow: hidden;

/* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* animation for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* recipe links on homepage */

#recipes {
    text-align: center;
}

#pupcakes-div {
    display: inline-block;
    margin-right: 15px;
    background-color: #3e3e3e;
    padding-bottom: 30px;
    box-shadow: none;
}

#pup-pops-div {
    display: inline-block;
    margin-left: 15px;
    background-color: #3e3e3e;
    padding-bottom: 30px;
    box-shadow: none;
}

#dog-biscuits-div {
    display: inline-block;
    margin: 15px;
    background-color: #3e3e3e;
    padding-bottom: 30px;
    box-shadow: none;
}

#recipes h2 {
    text-align: center;
    font-size: 250%;
    padding-bottom: 20px;
    padding-top: 20px;
}

#recipes a {
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 175%;
}

.recipe-links h3 {
    padding-top: 15px;
}

.recipe-links h3:hover {
    color: #dff9fd;
    text-shadow: 0 0 0.6rem #ffffff;
  }

  /* footer */

  footer {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
  }

  #footer-links {
    text-align: center;
    margin-left: 150px;
  }

  #footer-links a {
    align-self: center;
    color: #2f2f2f;
    font-size: 175%;
    letter-spacing: 85px;
  }

 .social-links {
    display: inline-block;
    padding: 30px;
}

.social-links i:hover {
    color: #a2c4c9;
}

/* subscribe to our newsletter form */

#form-section {
    background: url('/assets/images/newsletter-background.jpg') no-repeat center center;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.subscribe-form {
    max-width: 500px;
    padding: 30px;
    margin-top: 280px;
    margin-left: 100px;
    background-color: rgba(162, 196, 201, .8);
}

#form-section h2 {
    font-size: 200%;
    margin: 15px;
}

#form-section h3 {
    color: #ffffff;
    font-weight: 400;
    margin: 15px 15px 25px;
    font-size: 120%;
}

.text-input {
    display: block;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #ffffff;
    border-radius: 2px;
    width: 90%;
    height: 28px;
}

.subscribe-button {
    display: block;
    padding: 15px 30px;
    border: 1px solid #2f2f2f;
    border-radius: 2px;
    background-color: #2f2f2f;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 100%;  
}

#form-section label, .text-input, .subscribe-button {
    margin: 15px 15px 20px;
}

#email {
    margin-bottom: 30px;
}

.text-input:hover {
    border-color: #2f2f2f;
    border-width: 2px;
}

.subscribe-button:hover {
    color: #2f2f2f;
    background-color: rgba(255, 255, 255, 0.4);
    border-width: 2px;
    font-weight: bold;
}

#recipe-info-container {
    display: flex;
    width: 100%;
    height: 30rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

#recipe-image {
    max-height: auto;
    max-width: 50%;
}

.recipe-info-text-container {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: baseline;
}

 .recipe-title {
    text-align: center;
    font-size: xx-large;
}

.recipe-description {
    text-align: center;
    margin: 5%;
}

#ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    padding: 5px;
    margin: 10px;
}

#ingredients h3, #steps h3 {
    color: #a2c4c9;
    padding: 5%;
    font-size: x-large;
}

#ingredients h3 {
    margin-bottom: 10px;
}

#ingredients ul {
    list-style-type: none;
}

hr {
    border: 1px solid #d1d1d1;
    margin: 10px 0;
}

#steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
    padding: 5px;
    margin: 5px;
}

.recipe-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

 #steps ol {
    text-align: start;
    list-style-position: inside;
    padding-left: 40px;
    padding-right: 15px;
    color: #2f2f2f;
    margin: 5px;
}

#steps li {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 8px;
    padding-top: 8px;
    max-width: 650px;
}

ol > li::marker {
    font-weight: bold;
  }