/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500;700&family=Montserrat:wght@300;600&display=swap');

/* reset all default padding/margin/border settings */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    color: #2f2f2f;
}

/* headings and logo */

a {
    text-decoration: none;
}

h1 {
    font-family: Josefin Slab, Times, serif;
    letter-spacing: 2px;
    color: #2f2f2f;
}

#logo {
    font-size: 300%;
    margin-left: 15px;
}

/* navigation links */

header {
    display: flex;
    height: 75px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 3px #d1d1d1;
}

h1 > i {
    color: #a2c4c9;
    align-self: flex-end;
    padding-left: 5px;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    height: 100%;
}

header ul {
    display: flex;
}

#menu li {
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* style mouse hover and active menu link */

#menu a:hover {
    border-bottom: 1px solid #2f2f2f;
}

.active {
    border-bottom: 1px solid #2f2f2f;
}

/* hero image section */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    overflow: hidden;

/* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* animation for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* cover text over hero image */
.cover-text {
    color: #ffffff;
    background-color: rgba(162, 196, 201, .8);
    font-size: 150%;
    font-family: Montserrat, Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;

    width: 300px;
    height: 300px;
    border-radius: 50%;

    padding-top: 40px;
    padding-left: 10px;

}

#about-cover-text {
    top: 30px;
    right: 30px;
    position: absolute;
}

#scroll-cover-text {
    bottom: 30px;
    left: 30px;
    position: absolute;
}


/* recipe links on homepage section */
/* heading for recipe links section */
#recipes h2 {
    text-align: center;
    font-size: 250%;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* recipe links container */
#recipe-links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    max-width: 100%;
    margin-bottom: 10px;
}

/* recipe links */
#pupcakes-link {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    background-color: #3e3e3e;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 8px #888888;
}

#pup-pops-link {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    background-color: #3e3e3e;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 8px #888888;
}

#dog-biscuits-link {
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: #3e3e3e;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 8px #888888;
}

/* recipe name links */
#recipes {
    text-align: center;
}

#recipes h3 {
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 175%;
}

.recipe-links h3 {
    padding-top: 15px;
}

/* style recipe name links on hover */
.recipe-links h3:hover {
    color: #dff9fd;
    text-shadow: 0 0 0.6rem #ffffff;
  }

/* set width for recipe link images */
.recipe-images {
    width: 334.45px;
}

/* footer */

footer {
    margin: 0 auto;
  }

/* social media links */
#social-links {
    text-align: center;
  }

#social-links a {
    color: #2f2f2f;
    font-size: 175%;
    letter-spacing: 85px;
}

#social-links li {
    display: inline-block;
    padding: 30px;
}

/* style social media links on hover */
#social-links i:hover {
    color: #a2c4c9;
}

/* subscribe to our newsletter form */

#form-section {
    /* form section background image */
    background: url('../images/newsletter-background.jpg') no-repeat center center;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.subscribe-form {
    max-width: 500px;
    padding: 30px;
    margin-top: 280px;
    margin-left: 100px;
    background-color: rgba(162, 196, 201, .8);
}

/* set margins for form elements */
#form-section label, .text-input, .subscribe-button {
    margin: 15px 15px 20px;
}

#email {
    margin-bottom: 30px;
}

/* style heading for form section */
#form-section h2 {
    font-size: 200%;
    margin: 15px;
}

#form-section h3 {
    color: #ffffff;
    font-weight: 400;
    margin: 15px 15px 25px;
    font-size: 120%;
}

/* style name and email input fields */
.text-input {
    display: block;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #ffffff;
    border-radius: 2px;
    width: 90%;
    height: 28px;
}

/* style submit button */
.subscribe-button {
    display: block;
    padding: 15px 30px;
    border: 1px solid #2f2f2f;
    border-radius: 2px;
    background-color: #2f2f2f;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 100%;  
}

.text-input:hover {
    border-color: #2f2f2f;
    border-width: 2px;
}

.subscribe-button:hover {
    color: #2f2f2f;
    background-color: rgba(255, 255, 255, 0.4);
    border-width: 2px;
    font-weight: bold;
}

#recipe-info {
    display: flex;
    width: 100%;
    height: 30rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

#recipe-image {
    max-height: auto;
    max-width: 50%;
}

#recipe-info-text {
    max-width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

#recipe-title {
    text-align: center;
    font-size: xx-large;
}

#recipe-description {
    text-align: center;
    margin: 5%;
}

#ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    padding: 5px;
    margin: 20px 10px;
}

#ingredients h3, #steps h3 {
    color: #3e3e3e;
    padding: 5%;
    font-size: x-large;
 /*   text-shadow: 1px 1px 1px #2f2f2f; */
}

#ingredients h3 {
    margin-bottom: 10px;
}

h3 i {
    color: #a2c4c9;
    text-shadow: 1px 1px 1px #3e3e3e;
}

#ingredients ul {
    list-style-type: none;
}

hr {
    border: 1px solid #a2c4c9;
    margin: 10px 0;
}

#steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
    padding: 5px;
    margin: 20px 10px;
}

.recipe {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

#steps ol {
    text-align: start;
    list-style-position: inside;
    padding-left: 40px;
    padding-right: 15px;
    color: #2f2f2f;
    margin: 5px;
}

#steps li {
    border-bottom: 1px solid #a2c4c9;
    padding-bottom: 8px;
    padding-top: 8px;
    max-width: 650px;
}

ol > li::marker {
    font-weight: bold;
}

/* Media queries */

/* For larger to medium screen sizes from 1068px wide and down */
@media screen and (max-width: 1068px) {

    #recipe-links-container {
        flex-wrap: wrap; 
    }

}

/* For medium to smaller screen sizes from 900px wide and down */
@media screen and (max-width: 900px) {
    footer {
        align-items: center;
        justify-content: center;
    }

    #social-links li {
        width: 5rem;
        align-self: center;
        margin-left: 3rem;
        padding: 30px 0px;
    }

    footer ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }

    #social-links {
        margin-left: 0;
    }

    #recipe-info {
        flex-direction: column;
        overflow: visible;
        align-content: flex-end;
        display: block;
        margin: 0 auto;
        height: auto;

    }

    .recipe {
        display: block;
        clear: both;
    }

    #recipe-info-text {
        display: block;
        margin: 30px 0;
        max-height: 800px;
        max-width: 800px;
    }

    #recipe-image {
        margin: 0 auto;
        display: block;
        width: auto;
        height: auto;
    }

    #ingredients {
     display: block;
     clear: both;
     width: 15rem;
     margin: 0 auto;
     padding-top: 10px;
     text-align: center;
    
    }

    #ingredients h3, #steps h3 {
        text-align: center;
    }

    #steps {
        display: block;
        clear: both;
        width: 90%;
        margin: 0 auto;
    }

    .subscribe-form {
           margin-top: 85px;
           margin-left: 45px;
       }
}

/* For small screen sizes from 700px wide and down */
@media screen and (max-width: 700px) {
    #recipe-links-container {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .cover-text {
        width: 250px;
        height: 250px;
        font-size: 110%;
        text-align: center;
        padding: 0;
    }

    #about-cover-text h2 {
        margin-top: 2rem;
    }

    #scroll-cover-text h2 {
        margin-top: 3rem;
    }

    header {
        flex-wrap: wrap;
        height: 105px;
        width: 100%;
        align-content: space-around;
    }

    #menu {
        margin-left: 15px;
    }

    .subscribe-form {
        margin-top: 65px;
        margin-left: 35px;
        max-width: 80%;
    }

    .subscribe-form h3, h2 {
        text-align: center;
    }

     footer {
        text-align: center;
        width: 100%;
        padding: 0;
        position: relative;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    #social-links li {
        overflow: hidden;
    }
}

/* For small to extra small screen sizes from 510px wide and down */
@media screen and (max-width: 510px) {
    #social-links li {
        margin: 0 auto;
        align-items: center;
        font-size: small;
    }

    footer {
        margin: 0 0 0 20px;
        width: auto;
    }

    .recipe-images {
        width: 215px;
        height: 215px;
    }

    .recipe-links h3 {
        font-size: smaller;
    }

    #steps {
        width: 100%;
    }

    #logo {
        font-size: 2rem;
     /*   flex-shrink: 1; */
       }

    .subscribe-form {
           margin-top: 50px;
           margin-left: 10px;
    }

    .subscribe-button {
        margin: 0 auto;
    }

}