@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    color: #333333;
}

/* headings and logo */

h1, h2 {
    font-family: Josefin Slab, Times, serif;
    letter-spacing: 2px;
    color: #1a1a1a;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #333333;
}

.active {
    border-bottom: 1px solid #333333;
}